<p>About Page</p>

<h1><p>A web app that can be used by University Libraries to effectively evaluate, manage, monitor and get useful data on the use of library books.</p></h1>

<p>Features:</p>
<ol>
	<li>Students must sign up to use the app. Once signed in, students can then view books in the library according to categories and also search for particular titles.</li>
	<li>Students can click on books to borrow them and this is recorded on the app.</li>
	<li>A Librarian using the admin panel (which he/she has sole access to) can monitor what books are being borrowed and by what students and also figure out other data which he/she can use to improve operations in the library.</li>
	<li>The web app fully automates the library “book use” system.</li> 
	<li>It can be accessed from mobile and desktop devices.</li>
	<li>The web app integrates a book review system where students who have read a book provide their reviews on the said book and this can be used by other students to aid in their study.</li>
</ol>