<p> Welcome</p>

<h1><p>IDEA: <em>A web app that can be used by University Libraries to effectively evaluate, manage, monitor and get useful data on the use of library books.</em></p></h1>

<%= link_to "features", welcome_about_path %>